.main {
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height:70vh;
  margin: 90px 200px 0px 200px;
  border-radius: 10px;
  background-color: white;
  
}

.h1{
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttonDiv{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}

.descriptionContainer {
  max-width: 800px;
  text-align: center;
  margin-top: 2rem;
}

.projectDescription {
  font-size: 1.2rem;
  line-height: 1.5;
  color: #333;
  margin-bottom: 1rem;
}